<% @categorys.each do |c| %>
	<div class="category_admin">
		<%= link_to c.name, admin_category_places_path(c) %>
		<%= link_to image_tag("admin/close-icon.gif"), admin_category_path(c), :method => :delete %>
	</div>
<% end %>

<div><%= link_to "Новая категория", new_admin_category_path, :id => "new_category" %></div> 