<% content_for :head do %>
    <%= javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=true&language=ru' %>
    <%= javascript_include_tag 'admin/places' %>
<% end %>

<h2>Редактирование метки</h2>

<%= render 'form' %>

