<%= content_tag(:div, flash.notice) %>
<div id="cell">
            
    <div id="content_left">
	            	
	    <div id="content_left_opacity">&nbsp;</div>
	    <div><img src="assets/front/animation/1.jpg" id="image"></div>
                
    </div>
            
    <div id="content_right">
        <h2>Welcome</h2>
        <hr>
                
        <span id="put_cookie"><h5>Добро пожаловать на сайт, посвященный кофе, здесь вы можете:</h5></span>
                
        <ul type="circle">
            <li><h5>Сделать расчеты покупки кофе в нашем магазине</h5></li>
            <li><h5>Посмотреть красивые фоточки чашечек с кофе</h5></li> 
            <li><h5>Взглянуть на видео о кофе</h5></li> 
            <li><h5>Узнать где близжайший к вам кофейный автоматик</h5></li> 
        </ul>
                
        <h5>Наслаждайтесь путешествием в кофейную страну!</h5>
    </div>
            
</div>
       