			<div id="cell">
    			<div id="content_left" style="width: 507px;">
            	
            		<div id="content_left_opacity" class="width2"></div>
                
              	    <div style="margin-left:21px; margin-top: 23px; padding-right: 20px; position:relative; ">
                    
                   		 <h2>Video</h2>
                	
               	   		 <hr color="#cccccc" size="0.5" width="460px">
						
                      <div id='mediaplayer'></div>
                      
                    </div> 
        		</div>
            
            	<div id="content_right" style="width: 173px;">
                
                     <h2 style="font-size:21px;">About</h2>
                     <hr color="#cccccc" size="0.5" width="160px" style="margin-left: 0px; margin-top: 7px;">
                     
                     <h5 style="margin-top: 16px; margin-right: 10px;">Тихо упала ночь.<br> Сахар утонул на дне.<br> Сливки выплыли.</h5> <br>
                    
                     <h2 style="font-size:21px;">Links</h2>
                     <hr color="#cccccc" size="0.5" width="160px" style="margin-left: 0px; margin-top: 7px;">
                     
                     <dl>
                    	<dt><a href="http://www.longtailvideo.com/" class="blue"><h5>JW Player</h5></a></dt> 
                    </dl>    
           		</div>
            
            </div>