<% content_for :head do %>
    <%= javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=true&language=ru' %>
    <%= javascript_include_tag 'places' %>
<% end %>

<div id="cell">
            
    <div id="content_left" style="width: 507px;">
            	
        <div id="content_left_opacity" class="width2"></div>
                
            <div style="margin-left:21px; margin-top: 23px; padding-right: 20px; position:relative;">
                
                <div style="width: 450px; height: 400px;" id="map_canvas"></div>
                     
            </div>
                
    </div>
            
    <div id="content_right" style="width: 173px;">
                
        <h2 style="font-size:21px;">About</h2>
        <hr color="#cccccc" size="0.5" width="160px" style="margin-left: 0px; margin-top: 7px;">
                     
        <h5 style="margin-top: 16px; margin-right: 10px;">Маркер человечка - ваше местоположение. Если нажать на маркер автомата с кофе, будет показан его адрес.</h5> <br>
                     
        <h2 style="font-size:21px;">Links</h2>
        <hr color="#cccccc" size="0.5" width="160px" style="margin-left: 0px; margin-top: 7px;">
                     
        <dl>
            <dt><a href="http://maps.google.ru/" class="blue"><h5>Google maps</h5></a></dt>
        </dl>    
            	
    </div>
            
</div>