<div style="float:left; margin-top: 15px;"><h5 class="white">© 2011 Coffee Break</h5></div>
<div style="float:right; margin-top: 15px;"><h5 style="color:#FFF;">Template by <a href="#" class="blue">One Dollar Templates</a></h5></div>